// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap Core (via NPM)
//@import "bootstrap/scss/bootstrap";

// Bootstrap Icons
//@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --primary-brown: #996600;
    --secondary-brown: #b37400;
}

